docker-compose.yaml
docker/nextcloud/nextcloud
docker/nextcloud/apps
docker/nextcloud/config
docker/nextcloud/data
docker/nextcloud/themes
docker/nextcloud/nextcloud.ini
docker/mariadb/data
docker/onlyoffice/data
docker/onlyoffice/lib
docker/onlyoffice/logs

