version: '3'

services:
  app:
    build:
      context: ./docker/nextcloud       
    restart: unless-stopped
    ports:
      - 5000:80
      - 5443:443
    volumes:
      - ./docker/nextcloud/data:/var/www/html
    environment:
      - MYSQL_PASSWORD=8A>!/W*|?;Js~9)
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db

  db:
    image: mariadb:10.6
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - ./docker/mariadb/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=nX[xD8}{Iys@czW
      - MYSQL_PASSWORD=8A>!/W*|?;Js~9)
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

